{{ define "title" }}Snippet{{.Snippet.ID}}{{ end }}

{{ define "main" }}
  {{with .Snippet}}
   <div class="snippet">
       <div class="metadata">
            <strong>{{.Title}}</strong>
            <span>#{{.ID}}</span>
            <pre><code>{{.Content}}</code></pre>
        </div>
    
        <div class="metadata">
            <time>Created: {{.Created | humanDate}}</time>
            <time>Expires: {{.Expires | humanDate}}</time>
        </div>
   </div>
   {{end}}
{{ end }}